/*
Creating conditional styles for specific display resolutions
*/

body {
  /*background-color: #4d4d4d;*/ /* a dark grey */
  background-color: #00ff00; /* pure green is visible if not a specified resolution */
}
h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18pt;
  line-height: 1.2;
  color: #cccccc;
}
h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16pt;
  line-height: 1.2;
  color: #cccccc;
}
h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14pt;
  line-height: 1.2;
  color: #cccccc;
}
h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12pt;
  line-height: 1.2;
  color: #cccccc;
}
h5 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10pt;
  line-height: 1.2;
  color: #cccccc;
}
h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 9pt;
  line-height: 1.2;
  color: #cccccc;
}
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10pt;
  line-height: 1.2;
  color: #cccccc;
}
ul {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 9pt;
  line-height: 1.2;
  color: #cccccc;
}


/* ********************************************** */
/*                                                */
/* 800 x 600  viewport                            */
/* 4:3                                            */
@media (width: 800px) and (height: 600px){
  #envelope{
    /* background: #444; */
    background: #000000;
    position: fixed;
    top: 0;
    height: 600px;
    left: 0;
    width: 800px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #cccccc;
    overflow: clip; /* clips overflow and prevents scroll bars */
  }
  #left-column{
    position: fixed;
    top: 0;
    height: 600px;
    left: 0;
    width: 00px; /* zero out the width of the column to make it disappear */
    padding: 0px; /* padding unnecessary on a 16x9 screen with 4x3 viewport */
    margin: 0px;
    border: 0px solid #00FF00; /* border useful for troubleshooting */
    overflow: clip; /* clip any of the contents that don't fit the div */
  }
  #canvas-column{
    position: fixed;
    top: 20px;
    height: 548px;
    left: 140px;
    width: 520px;
    object-fit: contain; /* should scale object to div maintainin aspect ratio. doesn't work with canvas */
    padding: 0px;
    margin: 0;
    border: 0px solid #FF0000; /* border useful for troubleshooting */
    /* align-self: center; */
    /* align-content: center; */
  }
}

/* ********************************************** */
/* NOT RECOMMENDED                                */
/* 960 x 540  viewport, 2 columns                 */
/* 16:9, will clip La Migra  4 pixels vert        */
@media (width: 960px) and (height: 540px) {
  #envelope{
    background: #777;
    position: fixed;
    top: 0;
    height: 540px;
    left: 0;
    width: 960px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #cccccc;
  }
  #left-column{
    position: fixed;
    top: 0;
    height: 540px;
    left: 0;
    width: 448px;
    padding: 10px;
    margin: 0px;
    border: 0px solid #00FF00;
  }
  #canvas-column{
    position: fixed;
    top: 0;
    height: 540px;
    left: 448px;
    width: 512px;
    padding: 0px;
    margin: 0px;
    border: 0px solid #FF0000;
    align-self: center;
    align-content: center;
  }
}

/* ********************************************** */
/*                                                */
/* 1280 x 720 viewport, 2 columns                 */
/* 16:9                                           */
@media (width: 1280px) and (height: 720px){
  #envelope{
    background: #4d4d4d;
    /* background: #000000; */
    position: fixed;
    top: 0;
    height: 720px;
    left: 0;
    width: 1280px;
    padding: 0;
    margin: 0px;
    border: 0px;
    overflow: clip;
  }
  #left-column{
    position: fixed;
    top: 0;
    height: 720px;
    left: 0;
    width: 300px;
    padding: 20px;
    margin: 0px;
    border: 0px;
  }
  #canvas-column{
    position: fixed;
    top: 0;
    height: 720;
    left: 330px;
    width: 600px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0px; */
    border: 1px solid #FFFFFF;
    /* transform: scale(1.2); */
    /* align-self: center; */
    /* align-content: center; */
  }
}
  /*
  #right-column{
    position: fixed;
    top: 0;
    height: 640px;
    left: 960px;
    width: 300px;
    padding: 10px;
    margin: 0;
    border: 0px solid #0000FF;
  }
  */
img.bottom{
  position: absolute;
  left: 20px;
  top: 540px;
}

/* ****************************************************** */
/*                                                        */
/* deprecated attempts at conditional aspect ratio ranges */
/*                                                        */
/*
/* Minimum aspect ratio */
/* @media (min-aspect-ratio: 16/9) { */
/*  div { */
/*    background: #4d4d4d; */ /* dark grey */
/*  }
}  */

/* Maximum aspect ratio */
/* @media (max-aspect-ratio: 4/3) { */
/*  div { */
/*    background: #777; */ /* middle grey */
/*  }
}  */

/* Exact aspect ratio, put it at the bottom to avoid override*/
/* @media (aspect-ratio: 1/1) { */
/*  div { */
/*    background: #f00; */  /* red */
/*  }
} */
/*
  input[type=submit]{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
    */
