body {
  background-color: #4d4d4d;
}
h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18pt;
  line-height: 1.4;
  color: #cccccc;
}
h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16pt;
  line-height: 1.4;
  color: #cccccc;
}
h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  color: #cccccc;
}
h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12pt;
  line-height: 1.4;
  color: #cccccc;
}
h5 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10pt;
  line-height: 1.4;
  color: #cccccc;
}
h6 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 8pt;
  line-height: 1.4;
  color: #cccccc;
}
p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 8pt;
  line-height: 1.4;
  color: #cccccc;
}
ul {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 8pt;
  line-height: 1.4;
  color: #cccccc;
}
  input[type=submit]{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
  #envelope{
    position: fixed;
    top: 0;
    height: 640px;
    left: 0;
    width: 1280px;
    padding: 0;
    margin: 0;
    border: 0;
  }
  #left-column{
    position: fixed;
    top: 0;
    height: 640px;
    left: 0;
    width: 300px;
    padding: 10px;
    margin: 0;
    border: 0px solid #00FF00;
  }
  #canvas-column{
    position: fixed;
    top: 0;
    height: 640px;
    left: 320px;
    width: 620px;
    padding: 10px;
    margin: 0;
    border: 0px solid #FF0000;
    align-items: center;
  }
  #right-column{
    position: fixed;
    top: 0;
    height: 640px;
    left: 960px;
    width: 300px;
    padding: 10px;
    margin: 0;
    border: 0px solid #0000FF;
  }
img.bottom{
  position: absolute;
  left: 1200px;
  top: 700px;
}
